body{
    background-color: chartreuse;
}
/*general*/
.central{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 320px;
    height: 200px;
    justify-content: space-around;
    font-family: 'Courier New', Courier, monospace;
    

}
/*cuadro del login*/
.cuadro1{
    display: flex;
    flex-direction: column;
    width:250px ;
    text-align: center;
    background-color: wheat;
}
.cuadro1 .campo{
    border: none;
    background-color: wheat;
    border-bottom: 2px solid black;
    margin: 5px 10px ;
}
.cuadro1 .boton{
    border-radius: 5px;
    margin: 5px 10px ;
    border: none;
    background-color: rgb(236, 196, 122);
    
}
/*cuadro del texto*/
.cuadro2{
    transition-duration: 0.5s;
    background: grey;
}
.cuadro2:hover{
    background: indigo;
    border-radius: 10px 70px 10px 40px;

}